<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">O que é o ControlSoft Labs?</h2>
                    <h3 class="section-subheading text-muted">É um espaço para compartilhamento de conteúdos relacionados à tecnologias da empresa ControlSoft.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Fontes</h4>
                    <p class="text-muted">Através do nosso Github, compartilhamos conhecimentos adquiridos durante nosso dia-a-dia.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Artigos</h4>
                    <p class="text-muted">Compartilhamos artigos e documentações sobre ferramentas que utilizamos.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Colaboramos</h4>
                    <p class="text-muted">Colaboramos com iniciativas de código aberto para garantir a sustentabilidade das tecnologias.</p>
                </div>
            </div>
        </div>
    </section>